
include AUTHORS
include CHANGES
include LICENSE
include README.rst
recursive-include comingsoon/conf *
recursive-include comingsoon/migrations *
recursive-include comingsoon/utils *
recursive-include comingsoon/views *
prune testproject
